@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.Web.Helpers
@using Microsoft
<script src="~/Scripts/jquery-1.6.4.min.js" type="text/javascript"></script>

<div id='searchBoxContainer'><input type='text' id='searchBox' /></div>
<div id="myMap" style="position:relative; height:600px;"></div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    var map = null;

    function LoadMap() {
        map = new Microsoft.Maps.Map('#myMap', {
            credentials: "Ai-bVrBWh8aNMnAm1CAvIdnLBozHUA7B04ECxzUppg86Ql6XDSVtDFJ3VBVvEHCq",
            showTermsLink: false,
            center: new Microsoft.Maps.Location(50.4020355, 30.5326905),
            zoom: 6,
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            showMapTypeSelector: false
        });
        Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', function () {
            var options = {
                maxResults: 4,
                map: map,
                countryCode: 'UA'
            };
            var manager = new Microsoft.Maps.AutosuggestManager(options);
            manager.attachAutosuggest('#searchBox', '#searchBoxContainer', selectedSuggestion);
        });
    }

    function selectedSuggestion(suggestionResult) {
        map.entities.clear();
        map.setView({ bounds: suggestionResult.bestView });
        var pushpin = new Microsoft.Maps.Pushpin(suggestionResult.location);
        Microsoft.Maps.Events.addHandler(pushpin, 'click', function () { clickPushpin(suggestionResult)  });
        map.entities.push(pushpin);
    }
    function clickPushpin(suggestRes) {
        var address = suggestRes.address.formattedAddress;
        //JSON data
        console.log(address);
        var urlquerstr = "@Url.Action("Index", "Building", new { address = "ADDRESS" })".replace("ADDRESS",address);
        window.open(urlquerstr);
    }
</script>
<script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=LoadMap" async defer></script>